<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link
    href="https://fonts.googleapis.com/css2?family=Kolker+Brush&family=Open+Sans:wght@300&family=Roboto:wght@100&family=Source+Sans+Pro:ital,wght@0,600;1,200&display=swap"
    rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Bungee&family=Kolker+Brush&family=Open+Sans:wght@300&family=Roboto:wght@100&family=Source+Sans+Pro:ital,wght@0,600;1,200&display=swap"
    rel="stylesheet">



  <script src="https://kit.fontawesome.com/27fe4e3881.js" crossorigin="anonymous"></script>
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>

</head>

<body>

  <header>
    
    <nav class=" nav">
        <img src="/Docs/rubber-duck.png" width="200px" height="60px">
      <a class="a" href="/"> HOME </a>
      <a href="/users" class="a" >PRODUCTS</a>
      <a href="/favourite" class="a" >FAVOURITES</a>
      <a href="/feature" class="a" >FEATURES</a>
      <!-- <label class="a" for="select-pro">PRODUCTS<i class="fa-solid fa-right-long" id="arrow"></i>
        <select name="products" id="select-pro">
        <option value="">--Please choose an option</option>
        <a href="/shoes"><option value="shoes">Shoes</option></a>
        <option value="pants"><a href="/pants">Pants</a></option>
        <option value="clothes"><a href="/clothes">Clothes</a></option>
      </select>
    </label> -->
    <% if (user) { %>
      <span class="user">welcome: <%= user %></span>
      <form action="/logout" method="post"><button type="submit">Logout</button></form>
    <% } else { %>
      <form action="/login" method="post"><button type="submit">Login</button></form>
    <% } %>
    </nav>
    <h2 class="intruducing">Intruducing The World's Best Application</h2>
  </header>

  <main>
    <div class="slide-container">
      <span id="slider-image-1"></span>
      <span id="slider-image-2"></span>
      <span id="slider-image-3"></span>
      <span id="slider-image-4"></span>
      <span id="slider-image-5"></span>
      <div class="image-container">
        <a href="#"><img src="https://i.insider.com/631f5256e8b500001850d09a?width=600&format=jpeg&auto=webp" width="800px" height="600px" class="slider-image"></a>
        <a href="#"><img src="https://static01.nyt.com/images/2021/04/16/business/16jeans-2/00jeans-2-articleLarge.jpg?quality=75&auto=webp&disable=upscale"  width="800px" height="600px" class="slider-image"></a>
        <a href="#"><img src="https://staticg.sportskeeda.com/editor/2023/01/bf90a-16732696305831-1920.jpg" width="800px" height="600px" class="slider-image"></a>
        <a href="#"><img src="https://media.istockphoto.com/id/684134268/photo/blonde-young-woman-in-elegant-blue-summer-dress.jpg?s=612x612&w=0&k=20&c=exmMtwtxykCGvHInAX9kJCK0GlV_c4vmUqtxyD-vt2c="  width="800px" height="600px" class="slider-image"></a>
        <a href="#"><img src="https://images-na.ssl-images-amazon.com/images/I/61yJUYaHMQL.jpg" width="800px" height="600px" class="slider-image"></a>
      </div>
      <div class="button-container">
        <a href="#slider-image-1" class="slider-button"></a>
        <a href="#slider-image-2" class="slider-button"></a>
        <a href="#slider-image-3" class="slider-button"></a>
        <a href="#slider-image-4" class="slider-button"></a>
        <a href="#slider-image-5" class="slider-button"></a>
      </div>
    </div>
    <section class="section">
      <span class="product-Sec"><a href="/products"><img src="https://media.glamourmagazine.co.uk/photos/63b6f0ef543f9ea0cca5f0a7/4:3/w_1920,h_1440,c_limit/PLUS%20SIZE%20BRIDESMAID%20DRESS%20050123%20default-sq.jpg" width="400px" height="279px"><div class="centered">Clothes</div></a></span>
      <span class="product-Sec"><a href="/products"><img src="https://www.straight.com/files/v3/styles/gs_feature/public/images/15/09/320536_best_jeans_store_0.jpg?itok=La7-kuar" width="400px" height="279px"><div class="centered">Pants</div></a></span>
      <span class="product-Sec"><a href="/products"><img src="https://sneakernews.com/wp-content/uploads/2020/10/nasa-adidas-ultra-boost-4-grey-orange-metallic-grey-10.jpg?w=1140" width="400px" height="279px"><div class="centered">Shoes</div></a></span>
    </section>
  </main>
</body>

</html>
