<!DOCTYPE html>
<html lang="en">

<head>
  <title>user profile</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/login.css" />
  <link rel="stylesheet" href="/styles/register.css" />


  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/users.js"></script>
  <title>register</title>
</head>

<body>
  <form action="/user_profile" method="POST">
    <h3>Register Here</h3>
    <label for="email"> Email </label>
    <input type="email" name="email" placeholder="Email">
    <br />
    <label for="password"> Password </label>
    <input type="password" name="password" placeholder="Password" required >
    <button type="submit">register</button>
    <div>
    <a href = "/login" class="redirect">login</a>
    <br>
    <a href = "/" class="redirect">home</a>
  </div>
  </form>
</body>

</html>
