<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/sell.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link
  href="https://fonts.googleapis.com/css2?family=Kolker+Brush&family=Open+Sans:wght@300&family=Roboto:wght@100&family=Source+Sans+Pro:ital,wght@0,600;1,200&display=swap"
  rel="stylesheet">
<link
  href="https://fonts.googleapis.com/css2?family=Bungee&family=Kolker+Brush&family=Open+Sans:wght@300&family=Roboto:wght@100&family=Source+Sans+Pro:ital,wght@0,600;1,200&display=swap"
  rel="stylesheet">

<script src="https://kit.fontawesome.com/27fe4e3881.js" crossorigin="anonymous"></script>
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <header>
  <nav class=" nav">
    <img src="/Docs/rubber-duck.png" width="200px" height="60px">
      <a class="a" href="/"> HOME </a>
      <a href="/products" class="a"><option value="shoes">PRODUCTS</option></a>
      <a href="/login" ><button type="submit">Login</button></a>
      <a href="/register"><button type="submit">Register</button></a>
    </nav>
  </header>
  <main>
		<form action="/sell" method="POST" id="seconForm">
			<label for="title">Title:</label>
			<input type="text" name="title" id="title" required>

			<label for="description" >Description:</label>
			<textarea name="description" id="description" required ></textarea>

      <label for="price" class="price">Price(CAD):</label>
      <input type="number" name="price" id="price" required>

      <label for="category" class="category">Category:</label>
      <select name="category" id="category" required>
        <option value="">-- Select Category --</option>
        <option value="clothing">Clothes</option>
        <option value="electronics">Shoes</option>
        <option value="home">Pants</option>
      </select>
      <label for="image" class="image">Image:</label>
      <input type="file" name="image" id="image" required>
      <div class="button">
        <button type="submit" class="btn">post</button>
      </div>
      <a href="mailto: mathewsteenwinkel@gmail.com?subject=Mail from rubber duck clothing&body=Hello, is this product still available? "> Contact Seller </a>
    </form>
  </main>


</body>

</html>
