<!DOCTYPE html>
<html lang="en">

<head>
  <title>user profile</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <!-- <link rel="stylesheet" href="/styles/nav.css" /> -->
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/usersProfile.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <header>
      <nav class=" nav">
          <img src="/Docs/rubber-duck.png" width="200px" height="60px">
        <a class="a" href="/"> HOME </a>
        <a href="/products" class="a"><option value="shoes">PRODUCTS</option></a>

        <form action="" method="post"><input class="search" type="text" placeholder="serach" name="search" /></form>
        <a href="/login" method="post"><button type="button" class="nav-button">Login</button></a>
        <a href="/register" method="post"><button type="submit" class="nav-button">Register</button></a>
      </nav>
      <h2 class="intruducing">USER'S PROFILE</h2>
    </header>
  <main>
<div>
  <div class="usersProfile">
   <h1>you are signed in as:  </h1>
   <h1> <%= users.name %></h1>
   <div class="email">
   <h2> email: <%= email %></h2>
   <button type="submit" class="emailButton">change email</button>
  </div>
  <div class="password">
    <h2> password: ********** </h2>
    <button type="submit" class="passwordButton">change password</button>
   </div>
   <div>
    <h2 href='products.ejs' > view my products</h2>

   </div>


  </div>
</div>


  </main>


</body>

</html>
