$color: #fdcd15;
$h2Font: Bungee;

header {
display: inline-block;
width: 100%;
height: 250px;
}

.logo {
  margin-top: 5%;
}
$myfirstDis: flex;
$borderstyle: solid;
$Width: 100%;
$borderColor: #fdcd15;
$navBackgroundColor: #fdcd15;
$heigth: 80px;
$buttonBackColor: black;
$buttonColor: white;
$font: Bungee;
$fontsize: 20px;
$searchcolor: black;
$aHoverColor: gray;
$aColor: black;
$bottonHoverColor: gray;
$proBackColor: black;
.nav {
  position: fixed;
  display: $myfirstDis;
  flex-direction: row;
  justify-content: space-evenly;
  border-style: $borderstyle;
  width: $Width;
  border-color: $borderColor;
  background-color: $navBackgroundColor;
  height: $heigth;
  padding-top: 1%;
  padding-bottom: 3%;
  font-family: $font;
  font-size: $fontsize;
  color: black
}
.intruducing {
  color: $color;
  font-family: $h2Font;
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/crissxcross.png");
  width: 100%;
  text-align: center;
  height: 155px;
  padding: 30px;
  position: fixed;
  margin-top: 5%;
  
  }

button {
background-color: $buttonBackColor;
color: $buttonColor;
}
button:hover {
  color: $bottonHoverColor
}
.a {
  color: $aColor;
  text-decoration: none;
}
.a:hover {
  color: $aHoverColor
}

.search {
background-color: $searchcolor;
color: white;
}

#select-pro {
  background-color: $proBackColor;
  color: white;
  
}
@media only screen and (min-width:768px) and (max-width:1024px) {
  .intruducing {
    color: $color;
    font-family: $h2Font;
    font-size: 16px;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/crissxcross.png");
    width: 100%;
    text-align: center;
    height: 100px;
    // padding: 40px;
    position: fixed;
    margin: 0;
    margin-top: 8%;
    }
  .nav {
    display: $myfirstDis;
    flex-direction: row;
    justify-content: space-evenly;
    border-style: $borderstyle;
    width: 100%;
    border-color: $borderColor;
    background-color: $navBackgroundColor;
    height: 80px;
    padding-top: 1%;
    padding-bottom: 3%;
    // margin-top: 2.5%;
    font-family: $font;
    font-size: 16px;
    color:  black
  }

}

@media only screen and (min-width:481px) and (max-width:768px) {
  .intruducing {
    // color: $color;
    // font-family: $h2Font;
    // font-size: 14px;
    // background-color: #000000;
    // background-image: url("https://www.transparenttextures.com/patterns/crissxcross.png");
    // width: 100%;
    // text-align: center;
    // height: 100px;
    // // padding: 40px;
    // position: fixed;
    // margin: 0;
    // margin-top: 10%;
    display: none;
    }
  .nav {
    display: $myfirstDis;
    flex-direction: column;
    align-items: center;
    border-style: hidden;
    width: 100%;
    background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/black-linen-2.png");
    padding-top: 25%;
    padding-bottom: 3%;
    font-family: $font;
    font-size: 14px;
  }
 
  }

@media only screen and (min-width:320px) and (max-width:480px) {
  .intruducing {
    display: none;
    }
    .nav {
      display: $myfirstDis;
      flex-direction: column;
      align-items: center;
      border-style: hidden;
      width: 100%;
      background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/black-linen-2.png");
      padding-top: 40%;
      padding-bottom: 3%;
      font-family: $font;
      font-size: 12px;
    }
  
}