$myfirstDis: flex;
$borderstyle: solid;
$Width: 70%;
$borderColor: #fdcd15;
$navBackgroundColor: #fdcd15;
$heigth: 80px;
$buttonBackColor: black;
$buttonColor: white;
$font: Bungee;
$fontsize: 16px;
$searchcolor: black;
.nav {
  display: $myfirstDis;
  flex-direction: row;
  justify-content: space-evenly;
  border-style: $borderstyle;
  width: $Width;
  border-color: $borderColor;
  background-color: $navBackgroundColor;
  height: $heigth;
  padding-top: 1%;
  padding-bottom: 2%;
  margin-top: 5%;
  font-family: $font;
  font-size: $fontsize;
  color: black
}

button {
background-color: $buttonBackColor;
color: $buttonColor;
}
.a {
  color: black;
}

.search {
background-color: $searchcolor;
color: white;
}

